.header {
  max-width: calc(100% - 96px);
  margin: 28px auto 56px;
  display: flex;
  justify-content: space-between;
  height: 52px;
}

@media screen and (max-width: 1024px) {
  .header {
    margin: 28px auto 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100% - 48px);
    margin: 28px auto 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: calc(100% - 32px);
    height: 42px;
    margin: 16px auto 48px;
  }
}

