.footer__copyright {
  font-style: normal;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #FFFFFF;
}


@media screen and (max-width: 606px) {
  .footer__copyright {
    line-height: 1;
    max-width: 100%;
    margin: 48px 0 0 0;
    text-align: left;
  }
}
