.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 64px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: calc(100% - 128px);
    font-size: 6vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: calc(100% - 32px);
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}

